.sidebar {
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: white;
    z-index: 999;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 0;
  }

  .sidebar.active {
    left: 0;
  }
}

.navbar-small{
  // background-color: darkblue;
  position: sticky;
  color: white;
  padding: 10px;
  z-index: 9999;
}


i{
  color: white;
}
.main-content{
  margin-top: 30px;
}