<div class="sidebar main-bg-color p-0">
  <div class="logo d-none d-md-flex py-3">
    <!-- <img src="../../../assets/logo11.png" class="w-30 m-0 px-4 text-start" alt=""> -->
    <div class=" px-3">
      <span class="fs-5">Alamana </span>
      <span class="green fs-5">Dashboard</span>
    </div>
  </div>

  <ul class="menu p-2">
    <li class="section" routerLink="/dashboard/countries">Countries</li>

    <li class="section" routerLink="/dashboard/categories">Categories</li>

    <li class="section" routerLink="/dashboard/assignments">Assignments</li>
  </ul>
</div>