<div class="parent m-0 p-0  px-3 px-lg-5">
  <div
    class="card-header text-white d-flex justify-content-between align-items-center mx-3 mb-2"
  >
    <button
      class="btn btn-main-color btn-sm fw-bold"
      (click)="addProduct()"
    >
      + Assign New Product
    </button>
  </div>

  <div class="card shadow border-0 w-100 p-0 m-0">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Name (EN)</th>
              <th>Name (AR)</th>
              <th>Price</th>
              <th>Currency (EN)</th>
              <th>Currency (AR)</th>
              <th>CurrencyCode</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.id }}</td>

              <!-- Inline edit -->
              <td *ngIf="editMode && editId === item.id">
                <input
                  [(ngModel)]="newItem.nameEn"
                  class="form-control text-center"
                />
              </td>
              <td *ngIf="!(editMode && editId === item.id)">
                {{ item.nameEn }}
              </td>

              <td *ngIf="editMode && editId === item.id">
                <input
                  [(ngModel)]="newItem.nameAr"
                  class="form-control text-center"
                />
              </td>
              <td *ngIf="!(editMode && editId === item.id)">
                {{ item.nameAr }}
              </td>


              <td *ngIf="editMode && editId === item.id">
                <input
                  [(ngModel)]="newItem.price"
                  class="form-control text-center"
                />
              </td>
              <td *ngIf="!(editMode && editId === item.id)">
                {{ item.price }}
              </td>

              <td *ngIf="editMode && editId === item.id">
                <input
                  [(ngModel)]="newItem.currencyEn"
                  class="form-control text-center"
                />
              </td>
              <td *ngIf="!(editMode && editId === item.id)">
                {{ item.currencyEn }}
              </td>

              <td *ngIf="editMode && editId === item.id">
                <input
                  [(ngModel)]="newItem.currencyAr"
                  class="form-control text-center"
                />
              </td>
              <td *ngIf="!(editMode && editId === item.id)">
                {{ item.currencyAr }}
              </td>

              <td *ngIf="editMode && editId === item.id">
                <input
                  [(ngModel)]="newItem.countryCode"
                  class="form-control text-center"
                />
              </td>
              <td *ngIf="!(editMode && editId === item.id)">
                {{ item.countryCode }}
              </td>

              <td>
                  <button
                    (click)="deleteItem(item.productId)"
                    class="btn btn-sm"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
              </td>
            </tr>

            <tr *ngIf="items.length === 0">
              <td colspan="8" class="text-muted py-3">No items found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
