<div class="container px-3 px-lg-5">
  <div class="card shadow border-0">
    <div class="card-header main-color">
      <h4 class="mb-0">Assign new product</h4>
    </div>

    <div class="card-body">
      <form (ngSubmit)="saveItem()" #itemForm="ngForm">
        <!-- اختيار المنتج -->
        <div class="mb-3">
          <label class="form-label">Product</label>
          <select
            class="form-select"
            [(ngModel)]="newItem.productId"
            name="productId"
            required
          >
            <option [ngValue]="null" disabled>Select a product</option>
            <option *ngFor="let prod of products" [value]="prod.id">
              {{ prod.nameEn }} - {{ prod.nameAr }}
            </option>
          </select>
        </div>

        <!-- إدخال السعر -->
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter product price"
            [(ngModel)]="newItem.amount"
            name="amount"
            required
            min="0"
          />
        </div>

        <div class="text-end">
          <button
            type="submit"
            class="btn btn-main-color"
            [disabled]="!itemForm.valid"
          >
            Save Item
          </button>

          <button
            type="button"
            (click)="done()"
            class="btn btn-main-color mx-2"
          >
            Done
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
